
body {
	background: #F5F5DC; 
	color: #2E0000;
	background-image: url("images/javabackground.gif");
	font-family: "Verdana";
}
header {
	background: #D2B48C
}

nav a:link{color:#795240;}
nav a:visited{color:#A58366;}
nav a:hover{color:#F5F5DC;}

nav {
	float:left;
	width:160px;
	text-align:center;
	padding:10px;
	font-weight: bold;

}
nav ul {
	list-style-type:none;
	padding-left:0;
	font-size:1.2em;
}
/* removes underline from nav links*/
nav a {

	text-decoration: none;
}

main {
	background-color:#F5F5DC;
	margin-left:175px;
	padding:20px;
	display:block;
}

main img {
	float:left;
	padding-right:2em;
}
main ul {
	list-style-image: url("images/marker.gif");
	list-style-position: inside;
}
main div {
	overflow:auto;
	font-size:90%;
	padding-left:5%;
	padding-right:5%;

}

h1 {
	height:100px;
	margin:0px;
	background-image: url("images/javalogo.gif");
	background-position:center;
	background-repeat:no-repeat;
	text-indent:-9999px;
	font-family: "Georgia"
}
h2 {
	font-family: "Georgia";
}
h3 {
	background-color: #E6D6A9;
	text-transform: uppercase;
}

dt {
	font-weight: bold;
}
table {
    /* centers table*/
    margin:auto;
    width:80%;
}
th {
    padding: 10px;
}
td {
    padding: 10px;
}
tr:nth-child(odd){
	background-color:#D2B48C;

}

footer a:link{color:#2E0000;}
footer a:visited{color:#000000;}
footer a:hover{color:#F5F5DC;}

footer {
	padding:10px;
	background: #D2B48C; 
	color: #000000;
	font-size: .60em;
	font-style: italic;
	text-align: center;
}
label {
	float:left;
	display:block;
	text-align:right;
	width:120px;
	padding-right:10px;
}
input {
	display:block;
	margin-bottom:20px;
}
textarea {
	display:block;
	margin-bottom:20px;
}
input[type="submit"]{
	margin-left:130px;
}
#wrapper {

	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: #E2D2B0;
	min-width:960px;
	max-width:2048px;
	box-shadow: 3px 3px 3px #2E0000;
}
#hero {
	height:300px;
	/*text color*/
	color:#F5F5dc;
	background-image: url("images/heroroad.jpg");
	background-size: 100% 100%;
	background-repeat:no-repeat;
}
section {
	margin-left:20%;
	margin-right:20%;
	overflow:auto;
	font-size:90%;
}
header,main, nav,footer,figure,figcaption,aside,section,article {display:block;}
#mobile {
	display:none;
}
#desktop {
	display:inline;
}
/* for tablets */
@media only screen and (max-width: 64em){
	body {
		margin:0px;
		background-color:#D2B48C;
		background-image:none;
	}
	#wrapper {
		min-width: 0px;
		width:auto;
		box-shadow:none;
	}
	h1 {
		margin:0px;
		background-image:url("images/javalogomobile.gif");
	}
	main{
		margin-left:0px;
	}
	nav {
		float:none;
		width:auto;
		padding:0px;
	}
	nav ul{
		text-align:center;
	}
	nav li{
		display:inline;
		padding-top:0px;
		padding-bottom:0px;
		padding-left:0.75em;
		padding-right:0.75em;
	}
}
/* mobile */
@media only screen and (max-width: 37.5em){
	nav li {
		display:inline-block;
		width:5em;
		font-size:120%;
		text-align:center;
		box-shadow: 2px #330000;
		background-color:#F5F5DC;
		margin:1%;
		padding:2.5%;
	}
	nav a {
		display:block;
	}
	nav a:hover{color:#330000;}
	main a:link{color:#FFFFFF;}
	main a:visited{color:#EAEAEA;}
	main a:hover{color:#FFD700;}

	section {
		margin:0px;
	}
	section img{
		display:none;
		
	}
	#hero {
		height:auto;
	}
	#mobile{
		display:inline;
	}
	#desktop{
		display:none;
	}
	label {
		float:none;
		text-align:left;
	}
	input[type="submit"] {
		margin-left:0px;
	}

}